.loginForm {
    width: 90%;
    height: 600px;
   /* display: block; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   /*background-color: rgb(54, 11, 156); */
   margin: 0 auto;
   position: relative;
   top: 100px;
 /*  margin: 0 auto; */
    border-radius: 20px;
}
.loginFormWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
    gap: 30px;
}
.loginFormUsername, .loginFormEmail, .loginFormPassword {
    height: 50px;
    width: 90%;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    padding-left: 20px;
}
.loginFormBackground {
    background-color: rgb(54, 11, 156);
    opacity: 0.8;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    border-radius: 20px;
}
.loginFormButton {
    width: 90%;
    height: 70px;
    font-size: 34px;
    font-weight: 800;
    background-color: rgb(76, 30, 136);
    cursor: pointer;
    border-radius: 20px;
    border: none;
    outline: none;
}
.loginTitle{
    position: absolute;
    top: 30px;
 left: 50%; 
 transform: translateX(-50%);
 font-size: 40px;

}
.or {
position: absolute;
left: 50%;
transform: translateX(-50%);    
bottom: 0;
padding-bottom: 50px;
cursor: pointer;
}